<% if (COPY.labels["headline_" + mode]) { %>
    <h1><%= t.smarty(COPY.labels["headline_" + mode]) %></h1>
    <% } %>
    
    <% if (COPY.labels["subhed_" + mode]) { %>
    <h2><%= t.smarty(COPY.labels["subhed_" + mode]) %></h2>
    <% } %>
    
    <div class="hospitalCardContainer">
      <div id="fixedSideColumnTop">
        <button id="showResultsButton">Toggle List?</button>
      </div>
    <section id="fixedSideColumn">
    </section>
    <section id="svganchor" class="graphic" role="img" class="graph centered">
      <h1 id="htmlKey">
      Scoring Hospitals across the United States
      </h2>
      <div >
        We have taken a sampling of 500 hospitals in the United States, and have charted them on lorem ipsum dolor. Select a policy below to get an understanding of how many hospitals have certain polcies enacted.
        </div>
    </section>
    </div>
    
    <div class="footer">
      <% if (COPY.labels["source_" + mode]) { %>
        <p>
          <% if (mode == "khnSpanish") { %>Fuente:<% } else { %>Source:<% } %>
          <%= t.smarty(COPY.labels["source_" + mode]) %>
        </p>
      <% } %>
      <% if (COPY.labels["credit_" + mode]) { %>
        <p>
          <% if (mode == "khnSpanish") { %>Crédito:<% } else { %>Credit:<% } %>
          <%= t.smarty(COPY.labels["credit_" + mode]) %>
        </p>
      <% } %>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.1.1/d3.min.js"></script>
    <script src="https://unpkg.com/topojson-client@3"></script>
    <script src="https://unpkg.com/d3-tip@0.9.1/dist/index.js"></script>
    <script src="./graphic.js"></script>
    