
 <h1>Debt From Medical and Dental Bills Differs by Place</h1>
 <h2>The share of people with medical bills in collections varies widely from one county to another across the country.</h2>

 <div class="buttonsContainer">
   <button class="active" data-filter="all">All U.S. Counties</button>
   <button data-filter="top100" class="">Top 100</button>
   </div>

<section id="keyContainer">
 <div class="key_block">
   <div class="key_break" style="background-color: #FEE5DA;"></div>
   <h3 class=""> < 10% </h3>
 </div>
 <div class="key_block">
   <div class="key_break" style="background-color: #FBAE94;"></div>
   <h3 class="">11-20%</h3>
 </div>
 <div class="key_block">
   <div class="key_break" style="background-color: #F96B50;"></div>
   <h3 class="">21-30%</h3>
 </div>
 <div class="key_block">
   <div class="key_break" style="background-color: #DC302E;"></div>
   <h3 class="">31-40%</h3>
 </div>
 <div class="key_block">
   <div class="key_break" style="background-color: #A3121C;"></div>
   <h3 class="">> 40%</h3>
 </div>
</section>

 <section id="treeMapContainer">
   <div data-chart="all" class="active">
     <img src="./medicalDebtMap.svg" alt="Chloropleth map of every US county in the US, with dark blue corresponding to lower levels of debt, while red correlates to higher levels of debt. There is a large concentration of dark blue in Midwest and Northwestern states, while the Southeast shows varying degrees of red.">
   </div>
   <div data-chart="top100">
     <img src="./alteredSVG.svg" alt="Map of every US county in the US, with the top 100 counties with US debt highlighted in red. These counties are generally concentratd in the Southeast, going as far west as Texas, and as far north as West Virginia.">
   </div>
   </section>
 

   <div class="footer">
    <p>Source: Tabulations of the August 2021 Urban Institute credit bureau data.</p>
</div>
 </div>
 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.1.1/d3.min.js"></script>
 <script src="https://unpkg.com/topojson-client@3"></script>
 <script src="https://unpkg.com/d3-tip@0.9.1/dist/index.js"></script>
 <script src="./graphic.js"></script>
 