@import "./lib/base";
@import "../_base/khn-npr.less";

body.npr {
	--bar-color: @red4;
	--bar-highlight-color: @red3;
}

#bar-chart .labels li.total-who-have-some-kind-of-health-care-debt {
	font-weight: bold;
	color: #333;
}

.value text.total-who-have-some-kind-of-health-care-debt {
	font-weight: bold !important;
	fill: #333;
}

.bar-5.total-who-have-some-kind-of-health-care-debt {
	fill: var(--bar-highlight-color);
}
