<% if (COPY.labels["headline_" + mode]) { %>
    <h1><%= t.smarty(COPY.labels["headline_" + mode]) %></h1>
    <% } %>
    
    <% if (COPY.labels["subhed_" + mode]) { %>
    <h2><%= t.smarty(COPY.labels["subhed_" + mode]) %></h2>
    <% } %>
    
    <div id="htmlKey">
    <div >
      <h1><%= t.smarty(COPY.labels["headline"]) %></h1>
      <h2 class="defaultSubhead" style="margin-top: 0px"><%= t.smarty(COPY.labels["Explainer"]) %></h2>
      </div>
      <div class="rectangle-container">
        <div class="rectangle"></div>
        <div class="label-container">
          <div class="less-transparent">0% of funds publicly reported</div>
          <div class="more-transparent">100% of funds publicly reported</div>
        </div>
      </div>
    <div class="hospitalCardContainer">
      <div id="fixedSideColumnTop">
        <button id="showResultsButton"></button>
      </div>
      <div>
        <h1>Search by state</h1>
        <h2 style="margin-top: 0px"><%= t.smarty(COPY.labels["State Explainer"]) %></h2>
      </div>
    <section id="svganchor" class="graphic" role="img" class="graph centered">
    </section>
    </div>
    </div>
    <div class="methodology">
      <u>Methodology:</u>
      <% if (COPY.labels["methodology"]) { %>
        <div><%= t.smarty(COPY.labels["methodology"]) %></div>
        <u>Note on data:</u>
        <div><%= t.smarty(COPY.labels["methodology2"]) %></div>
        <% } %>
    </div>
    
    <div class="footer">
      <% if (COPY.labels["source_" + mode]) { %>
        <p>
          <% if (mode == "khnSpanish") { %>Fuente:<% } else { %>Source:<% } %>
          <%= t.smarty(COPY.labels["source_" + mode]) %>
        </p>
      <% } %>
      <% if (COPY.labels["credit_" + mode]) { %>
        <p>
          <% if (mode == "khnSpanish") { %>Crédito:<% } else { %>Credit:<% } %>
          <%= t.smarty(COPY.labels["credit_" + mode]) %>
        </p>
      <% } %>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.1.1/d3.min.js"></script>
    <script src="https://unpkg.com/topojson-client@3"></script>
    <script src="https://unpkg.com/d3-tip@0.9.1/dist/index.js"></script>
    <script type="text/javascript">
      var DATA = JSON.stringify(<%= JSON.stringify(COPY.cityData) %>);
      var data = window.DATA;
      var BUTTONS = JSON.stringify(<%= JSON.stringify(COPY.Buttons) %>);
      var buttons = window.BUTTONS;
    </script>
    <script src="./graphic.js"></script>
    