@import "./lib/base";
@import "../_base/khn-npr.less";

text.in {
  font-weight: bold !important;
}

body.npr {
  rect {
    fill: @red4  !important;
  }
}

.hovered {
  border: 1px solid black;
  cursor: pointer;
  fill: #c70000;
  transition: all .05s ease;
}


section {
  position: relative;
}

.active{
  background-color: #555252;
}

#treeMapContainer > div {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 20px;
}

#treeMapContainer img {
    width: 100%;
}

#treeMapContainer > div.active {
  opacity: 1;
  background-color: transparent;
}

.centered {
  display: table;
  margin: 20px auto;
}

.graph {
  width: 50%;
  margin: 0 auto;
}

.buttonsContainer {
  display: flex;
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

button {
  display:block;
  font-family: 'Knockout 31 4r';
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: none;
   text-decoration: none;
   background: #F5F5F5;
  border: 1px solid #eee;
  color: #555555;
  font-size: 13px;
  line-height: 25px;
  padding: 0 15px;
}
button:first-of-type {
  border-radius: 10px 0px 0px 10px;
}

  button:last-of-type {
  border-radius: 0px 6px 6px 0px;
}

input[type="button"] {
  border: none;
  outline:none;
  background: none;
  }

  #treeMapContainer {
  height: 360px;
}

button.active {
  color: white;
}

h1, h2 {
  text-align: left;
}

@media screen and (min-width: 489px) {
  #treeMapContainer {
    height: 480px;
  }

}

@media screen and (min-width: 729px) {
  h1, h2 {
    text-align: center;
  }

  #treeMapContainer {
    height: 640px;
  }

  .buttonsContainer {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
}

@media screen and (min-width: 1080px) {
#treeMapContainer {
  height: 800px;
}
}

@media screen and (min-width: 1200px) {
#treeMapContainer {
  height: 920px;
}
}

.key_block {
display: flex;
flex-direction: column;
width: 33%;
margin-right: .5%;
text-align: center;
}

.key_break {
height: 16px;
width: 100%;
margin: 0 auto;
margin-bottom: 4px;
}

.hospitalCardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.graphic {
  min-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 729px) {
  .hospitalCardContainer {
    flex-direction: row;
  }
  .graphic {
    min-width: 75%;
  }
}

#fixedSideColumn {
display: flex;
flex-direction: column;
justify-content: space-around;
margin-top: 10px;
margin-bottom: 10px;
background-color: #c70000;
//max-width: 350px;
}

@media screen and (min-width: 729px) {
#fixedSideColumn {
  width: 25%;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #c70000;
  padding-top: 20px;
  padding-bottom: 20px;
  max-height: 500px; 
  overflow: scroll;
  justify-content: flex-start;
}}

.sideColumnHospital {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #333;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border: 8px solid #fdb0b0;
}

@media screen and (max-width: 729px) {
  .sideColumnHospital {
    display: none;
  }}

body.npr {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  h1, h2 {
    .mmedia-constrained-centered();
  }
  .footnotes,
  .footer {
    .mmedia-constrained();
  }
}

.textArea {
  display: none;
}

div.tooltip {
  position: absolute;
  text-align: left;
  color: #333;
  white-space: normal;
  padding: 6px;
  font-size: 12px;
  background: white;
  border: 1px solid rgb(96,125,139);
  border-radius: 2px;
  pointer-events: none;
  cursor: none;
  width: 180px;
}

//a fixed modal that presents black text on a white background. There is a close button in the upper right corner. anf the fixed modal is in the middle of the screen, both horizontally and vertically.
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 40px;
  width: 50%;
  height: 30%;
  overflow: scroll;
  background-color: white;
  border: 1px solid #333;
  margin: 0 auto;
  left: 20%;
  top: 20%;

  //create a close button in the upper right corner
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    background-color: #c70000;
    border-radius: 50%;
    &:hover,
    &:focus {
      background-color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.modal.clicked {
  display: block;
  opacity: 1;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

