<% if (COPY.labels["headline_" + mode]) { %>
<h1><%= t.smarty(COPY.labels["headline_" + mode]) %></h1>
<% } %>

<% if (COPY.labels["subhed_" + mode]) { %>
<h2><%= t.smarty(COPY.labels["subhed_" + mode]) %></h2>
<% } %>

<section id="keyContainer">
  <div class="key_block">
    <div class="key_break" style="background-color: #EBE2AA;"></div>
    <h3 class=""> N.Y./CALIF. counties</h3>
  </div>
  <div class="key_block">
    <div class="key_break" style="background-color: #E18D39;"></div>
    <h3 class="">Counties in other states</h3>
  </div>
  <div class="key_block">
    <div class="key_break" style="background-color: #D64833;"></div>
    <h3 class=""> TEXAS counties</h3>
  </div>
</section>
  
<div id="svganchor" class="graphic" role="img">
</div>
<h3 style="border-bottom: 2px dashed #333; padding-bottom: 20px; padding-left: 20px; text-align: center;">Percent of people with credit records who have medical debt</h3>

<div class="footer">
  <% if (COPY.labels["source_" + mode]) { %><p>Source: <%= t.smarty(COPY.labels["source_" + mode]) %></p><% } %>
  <% if (COPY.labels.credit) { %><p>Credit: <%= COPY.labels.credit %></p><% } %>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.1.1/d3.min.js"></script>
<script src="./graphic.js"></script>
