@import "./lib/base";

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    grid-auto-flow: dense;
}

@media only screen and (max-width: 729px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 220px;
        grid-row-gap: 5px;
        grid-column-gap: 5px;
    }
}

@media only screen and (min-width: 729px) {
    .wrapper .profileContainer:nth-child(1) {
        grid-column: span 2;
        grid-row: span 2;
    }

    .wrapper .profileContainer:nth-child(2) {
        grid-row: span 1;
    }

    .wrapper .profileContainer:nth-child(3) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .wrapper .profileContainer:nth-child(4) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .wrapper .profileContainer:nth-child(5) {
        grid-column: span 1;
        grid-row: span 2;
    }

    .wrapper .profileContainer:nth-child(7) {
        grid-column: span 2;
        grid-row: span 1;
    }
}


.profileContainer {
    color: white;
    overflow: hidden;
}

.profileQuote {
    margin-top: 10px;
    margin-bottom: 6px;
    margin-left: 10px;
    line-height: 1.5rem;
    margin-right: 20%;
    color: white;
    background: linear-gradient(0.84turn, #a63f3f00, #7c494233, #70190e69);
    font-weight: 700;
}

@media only screen and (max-width: 729px) {
    .profileQuote {
        font-size: 1rem;
        line-height: 1.3rem;
    }
}

.profileAmt {
    font-size: 1.1rem;
    margin-left: 10px;
    line-height: 1.3rem;
    background: linear-gradient(0.84turn, #a63f3f00, #7c494233, #70190e69);
    color: white;
    margin-bottom: 0px;
}

.topArea {
    top: 0;
}

.bottom,
.top {
    position: relative;
}

.video video {
    position: absolute;
    left: -30%;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    height: -webkit-fill-available;
    max-height: 100%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.video.top .textContainer {
    position: absolute;
    top: 0px;
}

.textright .textContainer {
    position: absolute;
    text-align: right;
    margin-right: 10px;
}

.textright .profileQuote {
    margin-right: 0px;
    margin-left: 40px;
}

.bottom .textContainer {
    position: absolute;
    bottom: 20px;
}

body.npr, body.khn {
    min-height: 978px;
}

@media only screen and (max-width: 729px) {
    .bottom .textContainer {
        bottom: 10px;
    }

    .textright .profileQuote {
        margin-left: 20px;
    }
    
    body.npr, body.khn {
        min-height: 961px;
    }
}

.imagecenter {
    background-position: center !important;
}

.imageleft {
    background-position: left !important;
}

.imageright {
    background-position: right !important;
}