  <h1>What Predicts Medical Debt? </h1>
  <h2 style="padding-bottom: 20px;">Counties with a large share of people with multiple chronic conditions (in red) tend to have higher levels of debt than counties with less illness (blue). Each dot represents a county.</h2>
 
    <h3 class="sequenceRate_text" style="border-top: 2px dashed #333; padding-top: 20px;">Percent of Medicare population with 6+ chronic conditions</h3>
    <div class="gradientKeyLabel" style="display: flex; justify-content: space-between; margin-top: 20px;">
      <div class="key_block" style="display: flex;">
          <span class="sequenceRate_text"> 0%</span>
        </div>
        <div class="key_block" style="display: flex;">
          <span class="sequenceRate_text"> 20%</span>
        </div>
        <div class="key_block" style="display: flex;">
          <span class="sequenceRate_text"> 40%</span>
        </div>
      </div>
    <div style="width: 100%; height: 20px; background: linear-gradient(to right, #6AAACD, rgb(203, 242, 246), #D05950); margin-bottom: 20px;"></div>

    <img src="./allCounties.svg" style="width: 100%;">
    <div id="svganchor" class="graphic" role="img">
    </div>
    <h3 class="sequenceRate_text xAxisKey">Percent of people with credit records who have medical debt</h3>
    <div class="footer">
      <p>Source: Tabulations of the August 2021 Urban Institute credit bureau data and the 2018 Centers for Medicare and Medicaid Services data</p>
  </div>
  </div>
  
  
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.1.1/d3.min.js"></script>
  <script src="./graphic.js"></script>
  