@import "./lib/base";
@import "../_base/khn-npr.less";

.measure-group {
    display:inline;
  }

  button {
    margin:0 auto;
    display:block;
  }

  svg {
    background-color: white;
  }

  div.tooltip {
    position: absolute;
    text-align: left;
    color: white;
    white-space: normal;
    padding: 6px;
    font-size: 14px;
    background: rgb(96,125,139);
    border: 1px solid rgb(96,125,139);
    border-radius: 2px;
    pointer-events: none;
    cursor: none;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: rgb(96,125,139);
    shape-rendering: crispEdges;
  }

  .axis text {
    font: 10px sans-serif;
  }

  .key_block {
    display: flex;
    flex-direction: column;
  }

  .key_break {
    height: 30px;
    width: 30px;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
  }

  #keyContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px dashed #333;
  }
